{% load static%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/jquery.slidertron-1.3.js" %}"></script>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" />
<link href="{% static "css/default.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "fonts/fonts.css" %}" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="{{"homepage"}}">Fans' Item Bank</a></h1>
			</div>
			<div id="menu">
				<ol>
				<li class="icon icon-circle-blank"><a href="{{ "關於我們" }}" title="">關於我們</a></li>	
				<li class="icon icon-circle-blank"><a href="{{ "最新消息" }}" title="">最新消息</a></li>
					<div class="dropdown">
						<li class="icon icon-circle-blank"><a title="">題庫</a></li>
						<br>
						<div class="dropdown-content">
							<a href="{{ "itembank_BTS" }}">BTS</a>
						    <a href="{{ "itembank_EXO" }}">EXO</a>
						    <a href="{{ "itembank_GOT7" }}">GOT7</a>
						    <a href="{{ "itembank_seventeen" }}">seventeen</a>
						    <a href="{{ "itembank_SJ" }}">SJ</a>
						    <a href="{{ "itembank_TWICE" }}">TWICE</a>
						    
						</div>
					</div>
					<div class="dropdown">
						<li class="icon icon-circle-blank"><a title="">模擬題</a></li>
						<br>
						<div class="dropdown-content">
						    <a href="{{ "quiz_BTS" }}">BTS</a>
						    <a href="{{ "quiz_EXO" }}">EXO</a>
						    <a href="{{ "quiz_GOT7" }}">GOT7</a>
						    <a href="{{ "quiz_seventeen" }}">seventeen</a>
						    <a href="{{ "quiz_SJ" }}">SJ</a>
						    <a href="{{ "quiz_TWICE" }}">TWICE</a>
						</div>
					</div>
				</ol>
			</div>
		</div>
	</div>

<div id="wrapper">
	<div id="page" class="container">
		<div id="content">
			<div class="title">
				<h2>EXO題庫</h2>
				<pre>
出道期：
K：2012/04/08
J：2015/11/04
粉絲名公佈期：
2014/08/05
韓語：
正規專輯
2013: XOXO (Kiss&Hug)
2015: EXODUS
2016: EX'ACT
2017: The War
2018: DON'T MESS UP MY TEMPO
迷你專輯
2012: MAMA
2014: Overdose
冬季特別專輯
2013: Miracles In December
2015: Sing For You
2016: For Life
2017: Universe
日語：
單曲：
2015 Love Me Right ~romantic universe~
2016 coming over
專輯：
2018 COUNTDOWN
成員年齡：
	Xiumin 1990/3/26
	Suho 1991/5/22
	Lay 1991/10/7
	Baekhyun 1992/5/6
	Chen 1992/9/21
	Chanyeol 1992/11/27
	D.O. 1993/1/12
	Kai 1994/1/14
	Sehun 1994/4/12

歷年來臺：
	2014/07/11 2015/06/12 2016/11/26 2018/02/10 2019/05/18（CHEN） 2019/03/30
小分隊：
	EXO-K
	EXO-M
	EXO-CBX
電視劇：
2015：我的鄰居是EXO   全體
2015 愛上挑戰   Xiumin
2016 Choco Bank  Kai
2016 老九門 Lay
2016 步步驚心：麗  Baekhyun
2016 積極的體質 D.O.
2016 七次的初吻 Kai
2017 三色幻想－宇宙之星 Suho
2017 求婚大作戰 Lay
2017 Andante Kai
2018 春天來了 Kai
2018 Rich Man Suho
2018 女神締造者 Chanyeol、Sehun
2019 百日的郎君 D.O.
2019 黃金瞳 Lay
電影：
2015 從天兒降 Lay
2016 純情 D.O.
2016 所以......和黑粉結婚了 Chanyeol
2016 鳳伊 金先達 Xiumin
2016 老九門番外之二月花開 Lay
2016哥哥 D.O.
2017 七號室 D.O.
2018 女中學生A Suho	
2018 獨孤Rewind Sehun
2018 Swing Kids D.O.

專屬節目：
2013－2014：MBC EXO's SHOWTIME
2014：火熱的瞬間 XOXO EXO
2014：EXO 90:2014
2015： EXO's Special Camping
2015： EXO Channel
2016： EXOMENTARY LIVE
2017： EXO Tourgram
2018－2019： NEXO的爬著梯子世界旅行
2019: EXO 的爬梯子世界旅行 – 高雄&墾丁篇
2019： Heart 4 U
廣告代言：
2012/3/14 Calvin Klein Jeans	
2012/5 -2013年	Ivy Club校服
2012/6	The Face Shop Chia Seed護膚霜
2012/8	可口可樂韓國 Sunny 10飲料
2012/10	現代汽車
2012/11	三星筆記本電腦	
2013/7	Trugen西裝2013 F/W 秋冬季	
2013/8 現今	Nature Republic化妝品
2013/10	SK電訊LTE無限能量
2013/10	運動品牌KOLON SPORT羽絨服	
2013/11 Ivy Club校服	
2013/12	CJ E&M手機遊戲 다함께 붕붕붕 & 몬스터 길들이기 for Kakao
2014/1	Lotte 樂天 Crunky Chocolate 巧克力
2014/2	樂天免稅店
2014/2	運動品牌KOLON SPORT運動鞋「MOVE-XO」（與南寶拉）
2014/2	可口可樂韓國Sunny 10飲料
2014/3	中國電子商務平臺「美麗說」	
2014/3	中國愛瑪科技自行車「酷飛車」	
2014/4	Lotte樂天Worldcon冰淇淋
2014/6	手機遊戲《全民打怪獸》	
2014/6-2015	德國品牌MCM皮質配飾[108]
2014/9	美國雪糕品牌Baskin-Robbins	
2014/10- 現今	Lotte樂天PEPERO
2014/12	肯德基（中國大陸地區）	
2014-2016	Ivy Club校服
2015/3 -	SPAO
2015年4	康師傅冰紅茶（中國大陸地區）
2015	樂天世界
2016/2	HAT'S ON
2016/3	Goobne炸雞
2016年9月	運動品牌「Skechers」亞太區	
2017年9月	Visit Seoul	EXO（除了Lay）
2018年3月	MLB棒球帽

演唱會：
2014 EXO FROM. EXOPLANET ＃1 - THE LOST PLANET  
2015-2016 EXOPLANET ＃2 - The EXO'luXion 
2016-2017 EXOPLANET ＃3 - The EXO'rDIUM 
2017-2018 EXOPLANET ＃4 - The EℓyXiOn 
2019 EXOPLANET #5 - The EXplOration 
成就：
英國雜誌《Dazed》曾稱EXO為「世界最大的男子組合」
2017年末，EXO以正規四輯《THE WAR》成為Mnet亞洲音樂大獎首位亦是唯一一位連續五年拿到大賞的藝人。
2013 6月14日，EXO憑借《XOXO (Kiss&Hug)》取得美國Billboard的「全球專輯排行榜」一位
2018年1月6日，EXO的歌曲《Power》入選哈利法塔前的杜拜噴泉（The Dubai Fountain）的表演音樂，成為韓國首位入選的K-pop組合和首支K-pop歌曲
2018/2/5 伯賢獲邀在國際奧委會（IOC）總會開幕式上演唱韓國國歌。25日，EXO與CL共同擔任韓國平昌2018年冬季奧林匹克運動會閉幕式表演嘉賓，獻唱代表作《Growl》和《Power》
初一位：
2013/6/14 狼與美女
破億MV：
破一億：
2016/5/7 Overdose
2016/5/20 Growl
2016/8/25 CALL ME BABY
2017/2/6 Monster
2017/7/11 Wolf
2017/12/12 Ko Ko Bop
2018/10/26 Love Me Right
2018/12/9 Lotto
2019/2/25 TEMPO
2019/3/4 LOVE SHOT
破兩億：
2018/6/8 Monster
2018/9/23 CALL ME BABY
2019/1/25 Ko Ko Bop
				</pre>
			</div>
		</div>
	</div>		
</div>
<div id="copyright" class="container">
	<p>&copy; Fans' Item Bank | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by TEAM 3.</p>
</div>

</body>
</html>
