{% load static%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/jquery.slidertron-1.3.js" %}"></script>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" />
<link href="{% static "css/default.css" %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static "fonts/fonts.css" %}" rel="stylesheet" type="text/css" media="all" />
<!-- bootstrap -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="{{"homepage"}}">Fans' Item Bank</a></h1>
		</div>
		<div id="menu">
			<ol>
				<li class="icon icon-circle-blank"><a href="{{ "關於我們" }}"  title="">關於我們</a></li>	
				<li class="icon icon-circle-blank"><a href="{{ "最新消息" }}"  title="">最新消息</a></li>
				<div class="dropdown">
					<li class="icon icon-circle-blank"><a title="">題庫</a></li>
					<br>
					<div class="dropdown-content">
						<a href="{{ "itembank_BTS" }}">BTS</a>
					    <a href="{{ "itembank_EXO" }}">EXO</a>
					    <a href="{{ "itembank_GOT7" }}">GOT7</a>
					    <a href="{{ "itembank_seventeen" }}">seventeen</a>
					    <a href="{{ "itembank_SJ" }}">SJ</a>
					    <a href="{{ "itembank_TWICE" }}">TWICE</a>    
					</div>
				</div>
				<div class="dropdown">
					<li class="icon icon-circle-blank"><a title="">模擬題</a></li>
					<br>
					<div class="dropdown-content">
					    <a href="{{ "quiz_BTS" }}">BTS</a>
					    <a href="{{ "quiz_EXO" }}">EXO</a>
					    <a href="{{ "quiz_GOT7" }}">GOT7</a>
					    <a href="{{ "quiz_seventeen" }}">seventeen</a>
					    <a href="{{ "quiz_SJ" }}">SJ</a>
					    <a href="{{ "quiz_TWICE" }}">TWICE</a>
					</div>
				</div>
			</ol>
		</div>
	</div>
</div>




<div id="wrapper">
	<div id="page" class="container">
		<div id="content">
			<div class="title">
				<h2>關於我們</h2>
				<span class="byline"> About us <br>看看誰是真“韓粉”</span> </div>
			<p> <blockquote>開發動機：
			    如今的娛樂圈，KPOP對於全亞洲乃至全世界都有很高的影響力，臺灣當然也不例外，
			    有很多的韓國當紅偶像團體和歌手會來臺灣舉辦演唱會，也由於在對岸中國頒佈「禁韓令」，
			    韓國藝人無法前往去開演唱會，同樣的華語地區的臺灣也變成了，讓更多韓國藝人來臺灣舉辦演唱會和粉絲參加演唱會的一大選擇。
			    但是，只要有賣票的地方，就會有黃牛，作爲一名真粉絲，這是絕對不能忍的事情！
			    因此，主辦方便決定在開放購買演唱會門票之前，要求購買的人要先答出關於藝人的一些問題，可能是選擇題，
			    可能是排序題，也有可能是是非題，來最多可能地讓真粉絲能夠購買到自己喜歡的藝人的演唱會（見面會）門票。

			   <br>但，并不是所有的粉絲都可以背下關於自己偶像的全部的，有些小道消息也有可能有紕漏的。
			    因此，我們便決定做一個搜集了各個偶像資訊的題庫，并且開放模擬考功能，讓使用者可以參考驗證自己的實力（?）
			    也會在首頁實時更新近期將前往臺灣舉辦演唱會的團體、藝人們。
			   <br>小編我們心有餘而力不足，僅僅整理了七個團的題庫，如有遺漏請聯絡Ken進行修正。
			   <br>我們做的網站非盈利用途，若圖片使用有造成原圖片之擁有者困擾之行爲，請聯係我們將其刪除。
			</p>
			<a href="https://mail.google.com" class="button">Gmail</a> 
		</div>
		<div id="sidebar">
			<div id="stwo-col">
				<div>
					<img src = "{% static "image/QR code.png"%}" width="150" height"150">
				</div>
				<br>
				<h2>聯絡資訊</h2>
				<ul class="style2">
					<li>林彥宇<blockquote>  k99998k99999@gmail.com</li>
     				<li>陳彥寬<blockquote> kennychen2626@gmail.com</li>
    				<li>梁健彬<blockquote>  markleongbing888@gmail.com</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Fans' Item Bank | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by TEAM 3.</p>
</div>
</body>
</html>
